<div id="<%= dom_id firend %>">
  <p>
    <strong>First name:</strong>
    <%= firend.first_name %>
  </p>

  <p>
    <strong>Last name:</strong>
    <%= firend.last_name %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= firend.email %>
  </p>

  <p>
    <strong>Phone:</strong>
    <%= firend.phone %>
  </p>

  <p>
    <strong>Twitter:</strong>
    <%= firend.twitter %>
  </p>

</div>
