<p style="color: green"><%= notice %></p>

<%= render @firend %>

<div>
  <%= link_to "Edit this firend", edit_firend_path(@firend) %> |
  <%= link_to "Back to firends", firends_path %>

  <%= button_to "Destroy this firend", @firend, method: :delete %>
</div>
